@media (max-width: 767.98px) {      //hides menu logos

#term   {

    display: none;
}



 }





.menuitem   {

    // color:#fdc500;
    color:#9DC3C2;
    font-size: 1.5em;
    margin: .5em 0;
    stroke: #fdc500;
    // stroke: #b0fcf8;

}

// .menuitem:hover{

//     color:#fdc500;
// }

.nav-link:hover    {

color: #fdc500;
stroke: #9DC3C2;

text-shadow: 0 0 25px #1aebe4;
    
.linkhov   {

    color:#fdc500;
    
}

}    

.scrolldiv  {


    scrollbar-width: none;

    
    }
    




#term   {


    margin: 0 .5em .2em 0;
}



.navbar-toggler {
   
   
 background-color: #fdc500;
  } 